streamlit==1.37.0
streamlit-webrtc==0.47.7
opencv-python-headless==4.9.0.80
ultralytics==8.2.0
pymongo==4.7.2
python-dotenv==1.0.1
requests==2.32.3
bcrypt==4.1.3
numpy==1.26.4
pillow==10.4.0
torch==2.2.2
torchvision==0.17.2
